  
  /*Login*/

  .login-container {
    background-color: #0000009f;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h2 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    border-radius: 5px;
    padding: 10px;
    border: none;
  }
  
  button[type="submit"] {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  