
body{
    background-color: black;
}

/*seccion de entrada de imagen*/

.image-container {
    width: 100%;
    float: right;
    position: relative;
  }
  
  /* animación de la imagen */
  @keyframes slide-left {
    from {
      transform: translateX(-35%);
    }
    to {
      transform: translateX(-1%);
    }
  }
  
  /* aplicación de la animación a la imagen */
  .image-container img {
    animation: slide-left 2s ease-in-out forwards;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background-color: black;
  }
  
  .image-container:last-child::after {
    display: none;
  }

  /*degradado*/

  .degradado {
    filter: saturate(100%) brightness(80%) contrast(100%);
}
  

/*Barra de navegacion*/


nav {
    background-color: black;
    border-radius: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }
  
  a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    background-color: rgb(85, 85, 85);
    color: white;
  }
  

  /*letras encima de las imagenes*/

  .image-text {
    filter: saturate(100%) brightness(100%) contrast(100%);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 95%;
  }
  
  