/*seccion de entrada de imagen*/

.image-container {
    width: 100%;
    height: auto;
    float: right;
    position: relative;
  }
  
  /* animación de la imagen */
  @keyframes slide-left {
    from {
      transform: translateX(-35%);
    }
    to {
      transform: translateX(-1%);
    }
  }
  
  /* aplicación de la animación a la imagen */
  .image-container img {
    animation: slide-left 2s ease-in-out forwards;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background-color: black;
  }
  
  .image-container:last-child::after {
    display: none;
  }

  /*degradado*/

  .degradado {
    filter: saturate(50%) brightness(85%) contrast(70%);
}
  

/*Barra de navegacion*/


nav {
    background-color: black;
    border-radius: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
  }
  
  a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    background-color: white;
    color: black;
  }
  

  /*letras encima de las imagenes*/

  .image-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .image-text h1 {
    font-size: 3rem;
  }
  
  .image-text p {
    font-size: 1.5rem;
  }
  