
body{
    background-color: black !important;
}

/*seccion de entrada de imagen*/

.image-container {
    width: 100%;
    float: right;
    position: relative;
  }
  
  /* animación de la imagen */
  @keyframes slide-left {
    from {
      transform: translateX(-35%);
    }
    to {
      transform: translateX(-1%);
    }
  }
  
  /* aplicación de la animación a la imagen */
  .image-container img {
    animation: slide-left 2s ease-in-out forwards;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background-color: black;
  }
  
  .image-container:last-child::after {
    display: none;
  }

  /*degradado*/

  .degradado {
    filter: saturate(100%) brightness(80%) contrast(100%);
}

/*nav con boostrap pero modificado*/

.aNav{
  color: white !important;
}
.aNav:hover{
  background-color: #212529!important;
}
  


  /*letras encima de las imagenes*/

  .image-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .image-text h1 {
    font-size: 3rem;
  }
  
  .image-text p {
    font-size: 1.5rem;
  }
  
/*footer*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  margin-right: 10px;
}

.fa-instagram {
  font-size: 30px;
  color: #fff;
}

  